<div class="card card-index">
        <div class="card-index-image">
            <a href="<%- url_for(post.link ? post.link : post.path) %>" class="image is-7by1" style="background-image: url('<%= get_thumbnail(post) %>')">
                <div class="card-index-container">
                    <div class="card-index-content">
                            <% if (post.top) { %>
                                <img class="top" src="/images/top.svg" />
                            <% } %>    
                            <h1 style="color: #fff" class="title is-size-3 is-size-4-mobile has-text-weight-normal">
                                <%= post.title %>  
                            </h1>
                             
                            <div class="card-index-content-info">
                                <time  datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
                                &nbsp;&nbsp;
                                <%- list_span_categories(post.categories) %>
                            </div>
                           
                            
                    </div>
                </div>
            </a>
          
        </div>
</div>



