<div class="card card-index">
        <div class="card-index-image">
            <% if (get_thumbnail(post)) { %>
            <a href="<%- url_for(post.link ? post.link : post.path) %>" class="image is-7by1" style="background-image: url('<%= get_thumbnail(post) %>')">
            <% } else {%>
            <a href="<%- url_for(post.link ? post.link : post.path) %>" class="image is-7by1" style="background: linear-gradient(90deg, #1A2980,#26D0CE)">
            <% } %>
                <div class="card-index-container">
                    <div class="card-index-content">
                            <h1 style="color: #fff" class="title is-size-3 is-size-4-mobile has-text-weight-normal">
                                        <% if (post.top) { %>
                                            <span style="color:red">[置顶]</span>
                                        <% } %>    
                                        <%= post.title %>  
                            </h1>
                            <div class="card-index-content-info">
                                <time  datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
                                <% if (!has_config('article.readtime') || get_config('article.readtime') === true) { %>
                                    <span >
                                        <% const words = word_count(post._content); %>
                                        <% const time = duration((words / 150.0) * 60, 'seconds') %>
                                        <%= `${ time.locale(get_config('language', 'en')).humanize() } ${ __('article.read')} (${ __('article.about') } ${ words } ${ __('article.words') })` %>
                                    </span>
                                <% } %>
                            </div>
                            
                    </div>
                </div>
            </a>
        </div>
</div>



<!-- <div class="level-item">
                    <%- list_categories(post.categories, {
                        class: '',
                        show_count: false,
                        style: 'none',
                        separator: '&nbsp;/&nbsp;'
                    }) %>
                    </div> -->